# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- set tplroot = tpldir.split('/')[0] %}
{%- import_yaml tplroot ~ "/defaults.yaml" as default_settings %}
{%- import_yaml tplroot ~ "/osfamilymap.yaml" as osfamilymap %}

{%- set _config = salt['config.get'](tplroot, default={}) %}
{%- set defaults = salt['grains.filter_by'](
      default_settings,
      default=tplroot,
      merge=salt['grains.filter_by']( osfamilymap, grain='os_family',
        merge=salt['grains.filter_by']( _config, default='lookup'
        )
      )
    )
%}
{%- set sqldeveloper = salt['grains.filter_by']( {'defaults': defaults}, default='defaults', merge=_config) %}

{%- for name in sqldeveloper.pkg.wanted %}
        {% set url = sqldeveloper.pkg.uri ~ '/' ~ name ~ '-' ~ sqldeveloper.version ~ '-' ~ sqldeveloper.flavour  ~ '.' ~ sqldeveloper.pkg.suffix %}  # noqa 204
        {%- do sqldeveloper.pkg.urls.update({ '%s'|format(name): url }) %}
{%- endfor %}

{%- if sqldeveloper.pkg.use_upstream_archive %}
       {%- do sqldeveloper.pkg.archive.update({'name': sqldeveloper.dir.archive ~ '/' ~ sqldeveloper.release }) %}
       {%- do sqldeveloper.update({ 'path': sqldeveloper.pkg.archive.name ~ '/sqldeveloper' }) %}
{%- endif %}

{%- if sqldeveloper.pkg.use_upstream_macapp %}
       {%- do sqldeveloper.pkg.macapp.update({'name': sqldeveloper.dir.macapp ~ '/' ~ sqldeveloper.release }) %}
       {%- do sqldeveloper.update({ 'path': sqldeveloper.pkg.macapp.name ~ '/sqldeveloper' }) %}
{%- endif %}
