[Desktop Entry]
Encoding=UTF-8
Name=SQL Developer
Comment=Oracle SQL Developer
Icon={{ home }}/icon.png
Exec={{ home }}/{{ command }}
Exec=sqldeveloper
Terminal=false
Type=Application
